{% load static %}
<div class="footer">
    <div class="container">
        <div class="row">
          <div class="col-md-4 py-3">
            <p class="h5 text-center">About Furnitouch</p>
            <div class="pb-5" style="text-align: center;">
                <div class="logo pb-sm-30 pb-xs-3">
                    <a href="{% url 'Home:home' %}">
                        <img src="{% static 'images/menu/logo/logo3.png' %}" height="70px" alt="">
                    </a>
                </div>
            </div>
            <p>We are manufacturer and supplier of many kind of home and office furniture. We make all kind of wood.Our slogan-BRING YOUR DREAM HOME INTO REALITY AT AFORTABLE PRICE.</p>
          </div>
          <div class="col-md-4 py-3">
            <p class="h5 text-center">Contact With Us</p>
            <ul>
                <li class="d-flex align-items-center mb-2 border p-2"><i class="fa fa-phone mr-3"></i>+8801748463524</li>
                <li class="d-flex align-items-center mb-2 border p-2"><i class="fa fa-envelope mr-3"></i>furnitouch24@gmail.com</li>
                <li class="d-flex align-items-center mb-2 border p-2"><i class="fa fa-facebook mr-3"></i>https://www.facebook.com/furnitouch.21</li>
                <li class="d-flex align-items-center mb-2 border p-2"><i class="fa fa-instagram mr-3"></i>https://www.instagram.com/furnitouch24</li>
                <!-- <li class="d-flex align-items-center mb-2 border p-2"><i class="fa fa-linkedin mr-3"></i>https://www.linkedin.com/in/furni-touch-a5a6b2286/</li> -->
            </ul>
          </div>
          <div class="col-md-4 py-3">
            <p class="h5 text-center">Visit Us</p>
            <p>প্লট-২১/২৩, রোড-১১, ব্লক- জে, বারিধারা, ( সাউথ পয়েন্ট স্কুল এর অপর পাশে), ঢাকা-১২১২</p>
          </div>
        </div>
      </div>
</div>