{% load cart_tag %}
{% load static %}
<header class="mb-3">
    <!-- Begin Header Top Area -->


    <!-- <div class="py-1" style="background-color: rgb(236, 236, 236);">
        <div class="container">



            <div class="d-flex justify-content-between px-2">
                <div class="">
                    <div class="">
                        <ul class="phone-wrap">
                            <li><span>Phone </span><a href="#">+88 01748463524</a></li>
                        </ul>
                    </div>
                </div>
                <div class="">
                    <div class="header-top-right">
                        <ul class="ht-menu">
                            {% if user.is_authenticated %}
                            <a href="{% url 'accounts:logout' %}" class="text-black">Logout</a>
                            {% else %}
                            <li>
                                <div><a href="{% url 'accounts:accounts' %}">Login/Register</a></div>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    
    <!-- Header Top Area End Here -->
    <!-- Begin Header Middle Area -->
    <div class="header-middle pl-sm-0 pr-sm-0 pl-xs-0 pr-xs-0">
        <div class="container">
            <div class="row py-lg-3">
                <!-- Begin Header Logo Area -->
                <div class="col-lg-3 pb-5 d-none d-md-block">
                    <div class="logo pb-sm-30 pb-xs-3">
                        <a href="{% url 'Home:home' %}">
                            <img src="{% static 'images/menu/logo/logo3.png' %}" height="70px" alt="">
                        </a>
                    </div>
                </div>
                <!-- Header Logo Area End Here -->
                <!-- Begin Header Middle Right Area -->
                <div class="col-lg-9 pl-0 ml-sm-15 ml-xs-15">
                    <!-- Begin Header Middle Searchbox Area -->


                    <!-- <form action="{% url 'Home:home' %}" method="GET" class="hm-searchbox">
                        <input type="text" name="fined_product" placeholder="Search Product here">
                        <button class="li-btn" type="submit"><i class="fa fa-search"></i></button>
                    </form> -->

                    
                    <!-- Header Middle Searchbox Area End Here -->
                    <!-- Begin Header Middle Right Area -->
                    <div class="header-middle-right pt-3">
                        <ul class="hm-menu">
                            <!-- Begin Header Middle Wishlist Area -->
                            
                            <li class="d-block d-md-none" style="position: absolute; top: 7px; left: 7rem;">
                                <a href="{% url 'Home:home' %}">
                                    <img src="{% static 'images/menu/logo/logo3.png' %}" height="50px" alt="Logo">
                                </a>
                            </li>
                            <li class="hm-wishlist">
                                <button type="button" data-toggle="modal" data-target="#exampleModal" style="padding:10px 15px;border: 1px solid gray;background: none;">
                                    <i class="fa fa-search"></i>
                                </button>
                            </li>
                            <li class="hm-wishlist d-none d-md-block">
                                <a href="{% url 'accounts:my_order' %}">
                                    <i class="fa fa-user"></i>
                                </a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="hm-wishlist d-none d-md-block">
                                <a href="{% url 'Shop_app:wishlist' %}">
                                    <span class="cart-item-count wishlist-item-count">{{request.user | wishlist_total|default:'0'}}</span>
                                    <i class="fa fa-heart-o"></i>
                                </a>
                            </li>
                            {% else %}
                            <li class="hm-wishlist d-none d-md-block">
                                <a href="{% url 'Shop_app:wishlist' %}">
                                    <span class="cart-item-count wishlist-item-count">0</span>
                                    <i class="fa fa-heart-o"></i>
                                </a>
                            </li>
                            {% endif %}
                            <!-- Header Middle Wishlist Area End Here -->
                            <!-- Begin Header Mini Cart Area -->

                            <li class="hm-minicart">
                                {% if user.is_authenticated %}
                                <li class="hm-wishlist">
                                    <a href="{% url 'Shop_app:wishlist' %}">
                                        <span class="cart-item-count wishlist-item-count">{{request.user | cart_total}}</span>
                                        <span class="item-icon"></span>
                                    </a>
                                </li>
                                {% else %}
                                <li class="hm-wishlist">
                                    <a href="{% url 'Shop_app:wishlist' %}">
                                        <span class="cart-item-count wishlist-item-count">0</span>
                                        <span class="item-icon"></span>
                                    </a>
                                </li>
                                {% endif %}
                            </li>
                            <!-- Header Mini Cart Area End Here -->
                        </ul>
                    </div>
                    <!-- Header Middle Right Area End Here -->
                </div>
                <!-- Header Middle Right Area End Here -->
            </div>
        </div>
    </div>
    <!-- Header Middle Area End Here -->
    <!-- Begin Header Bottom Area -->
    <div class="header-bottom header-sticky d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Begin Header Bottom Menu Area -->
                    <div class="hb-menu hb-menu-2 d-xl-block">
                        <nav>
                            <ul>
                                <li><a href="{% url 'Home:home' %}">Home</a></li>
                                {% for i in main_category %}


                                <li class="megamenu-holder" style="margin-right: 2px;"><a
                                        href="/shop-page/?main-category={{i.slug}}">{{i.main_category_name}}</a>
                                        <ul class="megamenu hb-megamenu row" style="overflow: auto;">
                                            {% for i in i.main_cat.all %}
                                            <li class="col-lg-4 col-md-4 col-sm-6">
                                                <a href="/shop-page/?category={{i.slug}}">{{i.category_name}}</a>
                                                <!-- <ul class="list-unstyled">
                                                    {% for i in i.cat.all %}
                                                    <li><a href="/shop-page/?sub-category={{i.slug}}">{{i.sub_category_name}}</a></li>
                                                    {% endfor %}
                                                </ul> -->
                                            </li>
                                            {% endfor %}
                                        </ul>
                                </li>
                                
                                {% endfor %}
                                <li><a href="contact.html">Contact</a></li>
                                <!-- Begin Header Bottom Menu Information Area -->
                            </ul>
                        </nav>
                    </div>
                    <!-- Header Bottom Menu Area End Here -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header Bottom Area End Here -->
    <!-- Begin Mobile Menu Area -->
    <div class="mobile-menu-area d-lg-none d-xl-none col-1">
        <div class="container">
            <div class="row">
                <div class="mobile-menu">
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu Area End Here -->

    <!-- Modal -->
    <div class="modal fade" style="width: 100%;margin-top: 3rem" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form class="form-inline my-2 my-lg-0" style="width: 100%;position: relative;">
                    <input class="form-control mr-sm-2" type="search" style="width: 100%;" placeholder="Search" aria-label="Search">
                    <button class="btn my-2 my-sm-0" type="submit" style="position: absolute;top: -3px;right: 5px; border: none;background: none;outline: white;"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="modal-footer">
            
            </div>
        </div>
        </div>
    </div>
</header>