{% extends "base.html" %}
{% load static %}
{% block title %}
shop-page
{% endblock%}

{% block body%}

<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">Product Page</li>
            </ul>
        </div>
    </div>
</div>
<!-- Begin Li's Content Wraper Area -->
<div class="content-wraper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Begin Li's Banner Area -->
                {% for i in banner %}
                <div class="single-banner shop-page-banner">
                    <a href="#">
                        <img src="{{i.banner_pic.url}}" alt="Li's Static Banner">
                    </a>
                </div>
                {% endfor %}
                <!-- shop-products-wrapper start -->
                <div class="shop-products-wrapper mt-3">
                    <div class="tab-content">

                        <div id="grid-view" class="tab-pane fade active show" role="tabpanel">
                            <div class="product-area shop-product-area">
                                <div class="row">
                                    {% for i in new_product %}
                                    <div class="col-lg-3 col-6 my-2 shadow overflow-hidden overlyZoom">
                                        <div class="imgScal">
                                            <a href="{% url 'Shop_app:single_product' slug=i.slug %}">
                                            <img src="{{i.image.url}}" class="rounded-lg mb-2 p-2 zoominn rounded" width="100%"
                                            style="transition: transform 0.5s ease-in-out; border: 0.5px solid #ffc107;" alt="Image not found">
                                            </a>
                                        </div>
                                        <a href="{% url 'Shop_app:single_product' slug=i.slug %}"
                                            class="font-weight-bold mt-2" style="color: #3e3c3c;"
                                            onmouseover="this.style.color = '#ffc107'"
                                            onmouseout="this.style.color = '#3e3c3c'">{{i.roduct_title | slice:':30'}}...</a>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <!-- <a href="{% url 'order_app:add_product_card' slug=i.slug %}" class='text-dark border px-1' style="transition: background-color 0.3s;" onmouseover="this.style.backgroundColor ='#ffce3b'" onmouseout="this.style.backgroundColor ='white';">Add To Card</a> -->
                                            {% if i.dic_price == 0 %}
                                                <p class="text-dark mt-2">{{i.main_price}}&#2547;</p>
                                            {% else %}
                                                <div class="d-flex justify-content-center mt-2">
                                                    <p class="text-dark">{{i.dic_price}}&#2547;</p>
                                                    <p class="text-dark" style="margin-left: .5rem;"><del>{{i.main_price}}</del>&#2547;</p>
                                                </div>
                                            {% endif %}
                                            {% if i.is_newarival %}
                                            <p class="newlogo">New</p>
                                            {% endif %}
                                            </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>


                        <!-- <div class="paginatoin-area">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <p>Showing 1-12 of 13 item(s)</p>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <ul class="pagination-box">
                                        <li><a href="#" class="Previous"><i class="fa fa-chevron-left"></i> Previous</a>
                                        </li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li>
                                          <a href="#" class="Next"> Next <i class="fa fa-chevron-right"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->




                    </div>
                </div>
                <!-- shop-products-wrapper end -->
            </div>
        </div>
    </div>
</div>

{% endblock%}