{% extends "base.html" %}
{% load static %}
{% block title %}
  Wish List
{% endblock%}

{% block body%}

<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!--Shopping Cart Area Strat-->
<div class="Shopping-cart-area pt-60 pb-60">
    <div class="container">
        {% include "include/message.html" %}
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="li-product-remove">remove</th>
                                    <th class="li-product-thumbnail">images</th>
                                    <th class="cart-product-name">Product</th>
                                    <th class="li-product-price">Unit Price</th>
                                    <th class="li-product-quantity">Quantity</th>
                                    <th class="li-product-subtotal">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in shop_card %}
                                  
                                <tr>
                                    <td class="li-product-remove"><a href="{% url 'order_app:remove_card_item' id=i.id %}"><i class="fa fa-times"></i></a></td>
                                    <td class="li-product-thumbnail"><a href="{% url 'Shop_app:single_product' slug=i.product.slug %}"><img src="{{i.product.image}}" width="90px" alt="Li's Product Image"></a></td>
                                    <td class="li-product-name"><a href="{% url 'Shop_app:single_product' slug=i.product.slug %}">{{i.product.product_name}}</a></td>
                                    {% if i.product.dic_price == 0 %}
                                    <td class="li-product-price"><span class="amount">{{i.product.main_price}} &#2547</del></span></td>
                                    {% else %}
                                    <td class="li-product-price"><span class="amount">{{i.product.dic_price}} &#2547 <del>{{i.product.main_price}} &#2547</del></span></td>
                                    {% endif %}
                                    <td class="quantity">
                                        {% if i.quantity == 1 %}
                                        <a class="mr-2 btn disabled" href="{% url 'order_app:dincrease_quintity' slug=i.product.slug %}"><span class="badge badge-light"><i class="fa fa-minus"></i></span></a>
                                        {% else %}
                                        <a class="mr-2" href="{% url 'order_app:dincrease_quintity' slug=i.product.slug %}"><span class="badge badge-light"><i class="fa fa-minus"></i></span></a>
                                        {% endif %}
                                        {{i.quantity}}
                                        <a class="mr-2" href="{% url 'order_app:increase_quintity' slug=i.product.slug %}"><span class="badge badge-light"><i class="fa fa-plus"></i></span></a>
                                    </td>
                                    <td class="product-subtotal"><span class="amount">{{i.get_total}} &#2547</span></td>
                                </tr>
                                
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="coupon-all">
                                <div class="coupon">
                                    <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Coupon code" type="text">
                                    <input class="button" name="apply_coupon" value="Apply coupon" type="submit">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 ml-auto">
                            <div class="cart-page-total">
                                <h2>Cart totals</h2>
                                <ul>
                                    <li>Total <span>{{orders.get_totals}} &#2547</span></li>
                                </ul>
                                <a href="{% url 'payment_app:checkout' %}">Proceed to checkout</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Shopping Cart Area End-->
            


{% endblock%}



