{% extends "base.html" %}
{% load static %}
{% block title %}
Home
{% endblock%}

{% block body%}
<!-- Slider With Category Menu Area End Here -->
<!-- Begin Li's Static Banner Area -->


{% if searchProduct %}
    <div class="container my-5">

        <div id="grid-view" class="tab-pane fade active show" role="tabpanel">
            <div class="product-area shop-product-area">
                <div class="row">
                    {% for i in searchProduct %}
                    <div class="col-lg-3 col-6 my-2 shadow overflow-hidden overlyZoom" style="box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.459); ">
                        <div class="imgScal">
                            <img src="{{i.image.url}}" class="rounded-lg mb-2 zoominn" width="100%"
                                style="transition: transform 0.5s ease-in-out;" alt="Image not found">
                        </div>
                        <a href="{% url 'Shop_app:single_product' slug=i.slug %}"
                            class="font-weight-bold mt-2" style="color: #3e3c3c"
                            onmouseover="this.style.color = '#ffc107'"
                            onmouseout="this.style.color = '#3e3c3c'">{{i.roduct_title | slice:':30'}}...</a>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{% url 'order_app:add_product_card' slug=i.slug %}" class='text-dark border px-1' style="transition: background-color 0.3s;" onmouseover="this.style.backgroundColor ='#ffce3b'" onmouseout="this.style.backgroundColor ='white';">Add To Card</a>
                        {% if i.dic_price == 0 %}
                            <p class="text-dark mt-2">{{i.main_price}}&#2547;</p>
                        {% else %}
                            <div class="d-flex justify-content-center mt-2">
                                <p class="text-dark">{{i.dic_price}}&#2547;</p>
                                <p class="text-dark" style="margin-left: .5rem;"><del>{{i.main_price}}</del>&#2547;</p>
                            </div>
                        {% endif %}
                        {% if i.is_newarival %}
                        <p class="newlogo">New</p>
                        {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% else %}
<div class="slider-with-banner">
    <div class="container">
        <div class="row">
            <!-- Begin Slider Area -->
            <div class="col-lg-8 col-md-8">
                {% include 'include/message.html' %}
                <div class="slider-area">
                    <div class="slider-active owl-carousel">
                        <!-- Begin Single Slide Area -->
                        {% for i in banner_info %}
                        <div class="single-slide align-center-left  animation-style-01" style="background-image: url({{i.offer_banner.url}});
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        min-height: 475px;
                        width: 100%;">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5>Sale Offer <span>{{i.offer_name}}</span> This Week</h5>
                                <h2>{{i.product_name}}</h2>
                                <h3>Starting at <span>{{i.starting_price}}&#2547</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="shop-left-sidebar.html">Shopping Now</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- Single Slide Area End Here -->
                    </div>
                </div>
            </div>
            <!-- Slider Area End Here -->
            <!-- Begin Li Banner Area -->
            <div class="col-lg-4 text-center pt-xs-30 align-self-center">
                <div class="mt-5">
                    <h3>Offer Ending At:</h3>
                    <div class="mt-5">
                        <div class="li-countdown"></div>
                    </div>
                </div>
            </div>
            <!-- Li Banner Area End Here -->
        </div>
    </div>
</div>
<!-- Li's Static Banner Area End Here -->

<!-- Top category area -->

<section class="product-area li-laptop-product Special-product pt-60 pb-45">
    <div class="container">
        <div class="d-flex px-6 justify-content-between align-items-center"
            style="background-color: #3e3c3c;padding:0 20px;">
            <p class="text-center py-2 h4 mt-2" style="color: #ffc107;">OUR TOP COLLECTION</p>
            <a href="#">SHOP MORE</a>
        </div>

        <div class="row mt-4 mx-1">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12">
                <div class="row">

                    {% for i in category %}
                    <div class="col-4 col-lg-2 text-center border p-2">
                        <img src="{{i.category_image.url}}" width="100px" alt="">
                        <p class="font-weight-bold" style="color: #3e3c3c;">{{i.category_name}}</p>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>

    </div>

</section>
<!-- end top category section -->


<!-- New Arrival section start -->

<section class="product-area li-laptop-product Special-product pt-60 pb-45">
    <div>
        <div class="container">
            <div class="d-flex px-6 justify-content-between align-items-center"
                style="background-color: #3e3c3c;padding:0 20px;">
                <p class="text-center py-2 h4 mt-2" style="color: #ffc107;">NEW ARRIEVAL</p>
                <a href="#">SHOP MORE</a>
            </div>
        </div>

        <div class="row mt-4 mx-1">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12 container">
                <div class="row d-flex ">
                    {% for i in new_product %}
                    <div class="col-lg-3 col-6 my-2 shadow overflow-hidden overlyZoom" style="box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.459); ">
                        <div class="imgScal">
                            <img src="{{i.image.url}}" class="rounded-lg mb-2 zoominn" width="100%"
                                style="transition: transform 0.5s ease-in-out;" alt="Image not found">
                        </div>
                        <a href="{% url 'Shop_app:single_product' slug=i.slug %}" class="font-weight-bold mt-2"
                            style="color: #3e3c3c;" onmouseover="this.style.color = '#ffc107'"
                            onmouseout="this.style.color = '#3e3c3c'">{{i.roduct_title | slice:':30'}}...</a>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="{% url 'order_app:add_product_card' slug=i.slug %}" class='text-dark border px-1' style="transition: background-color 0.3s;" onmouseover="this.style.backgroundColor ='#ffce3b'" onmouseout="this.style.backgroundColor ='white';">Add To Card</a>
                            {% if i.dic_price == 0 %}
                                <p class="text-dark mt-2">{{i.main_price}}&#2547;</p>
                            {% else %}
                                <div class="d-flex justify-content-center mt-2">
                                    <p class="text-dark">{{i.dic_price}}&#2547;</p>
                                    <p class="text-dark" style="margin-left: .5rem;"><del>{{i.main_price}}</del>&#2547;</p>
                                </div>
                            {% endif %}
                            {% if i.is_newarival %}
                            <p class="newlogo">New</p>
                            {% endif %}
                            </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
            <!-- Li's Section Area End Here -->
        </div>

    </div>

</section>

<!-- New Arriaval section end -->


<!-- Top Design Bed Collection -->
<section class="product-area li-laptop-product Special-product pt-60 pb-45">
    <div>
        <div class="container">
            <div class="d-flex px-6 justify-content-between align-items-center"
                style="background-color: #3e3c3c;padding:0 20px;">
                <p class="text-center py-2 h4 mt-2" style="color: #ffc107;">MOST POPULAR : BED</p>
                <a href="#">SHOP MORE</a>
            </div>
        </div>

        <div class="row mt-4 mx-1">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12 container">
                <div class="row d-flex">
                    {% for i in featursBed %}

                        <div class="col-lg-3 col-6 my-2 shadow overflow-hidden overlyZoom" style="box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.459); ">
                            <div class="imgScal">
                                <img src="{{i.image.url}}" class="rounded-lg mb-2 zoominn" width="100%"
                                    style="transition: transform 0.5s ease-in-out;" alt="Image not found">
                            </div>
                            <a href="{% url 'Shop_app:single_product' slug=i.slug %}" class="font-weight-bold mt-2"
                                style="color: #3e3c3c;" onmouseover="this.style.color = '#ffc107'"
                                onmouseout="this.style.color = '#3e3c3c'">{{i.roduct_title | slice:':30'}}...</a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="{% url 'order_app:add_product_card' slug=i.slug %}" class='text-dark border px-1' style="transition: background-color 0.3s;" onmouseover="this.style.backgroundColor ='#ffce3b'" onmouseout="this.style.backgroundColor ='white';">Add To Card</a>
                                {% if i.dic_price == 0 %}
                                    <p class="text-dark mt-2">{{i.main_price}}&#2547;</p>
                                {% else %}
                                    <div class="d-flex justify-content-center mt-2">
                                        <p class="text-dark">{{i.dic_price}}&#2547;</p>
                                        <p class="text-dark" style="margin-left: .5rem;"><del>{{i.main_price}}</del>&#2547;</p>
                                    </div>
                                {% endif %}
                                {% if i.is_newarival %}
                                <p class="newlogo">New</p>
                                {% endif %}
                                </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>

    </div>

</section>
<!-- Bed Collection end -->

<!-- best sofa collection -->
<section class="product-area li-laptop-product Special-product pt-60 pb-45">
    <div>
        <div class="container">
            <div class="d-flex px-6 justify-content-between align-items-center"
                style="background-color: #3e3c3c;padding:0 20px;">
                <p class="text-center py-2 h4 mt-2" style="color: #ffc107;">MOST POPULAR : SOFA SET</p>
                <a href="#">SHOP MORE</a>
            </div>
        </div>

        <div class="row mt-4 mx-1">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12 container">
                <div class="row d-flex ">
                    {% for i in featursSofa %}

                        <div class="col-lg-3 col-6 my-2 shadow overflow-hidden overlyZoom" style="box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.459); ">
                            <div class="imgScal">
                                <img src="{{i.image.url}}" class="rounded-lg mb-2 zoominn" width="100%"
                                    style="transition: transform 0.5s ease-in-out;" alt="Image not found">
                            </div>
                            <a href="{% url 'Shop_app:single_product' slug=i.slug %}" class="font-weight-bold mt-2"
                                style="color: #3e3c3c;" onmouseover="this.style.color = '#ffc107'"
                                onmouseout="this.style.color = '#3e3c3c'">{{i.roduct_title | slice:':30'}}...</a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="{% url 'order_app:add_product_card' slug=i.slug %}" class='text-dark border px-1' style="transition: background-color 0.3s;" onmouseover="this.style.backgroundColor ='#ffce3b'" onmouseout="this.style.backgroundColor ='white';">Add To Card</a>
                                {% if i.dic_price == 0 %}
                                    <p class="text-dark mt-2">{{i.main_price}}&#2547;</p>
                                {% else %}
                                    <div class="d-flex justify-content-center mt-2">
                                        <p class="text-dark">{{i.dic_price}}&#2547;</p>
                                        <p class="text-dark" style="margin-left: .5rem;"><del>{{i.main_price}}</del>&#2547;</p>
                                    </div>
                                {% endif %}
                                {% if i.is_newarival %}
                                <p class="newlogo">New</p>
                                {% endif %}
                                </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>

    </div>

</section>

<!-- Sofa Collection End -->

<!-- Best Sell Bedroom Set -->

<section class="product-area li-laptop-product Special-product pt-60 pb-45">
    <div>
        <div class="container">
            <div class="d-flex px-6 justify-content-between align-items-center"
                style="background-color: #3e3c3c;padding:0 20px;">
                <p class="text-center py-2 h4 mt-2" style="color: #ffc107;">MOST POPULAR : BED ROOM SET</p>
                <a href="#">SHOP MORE</a>
            </div>
        </div>

        <div class="row mt-4 mx-1">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12 container">
                <div class="row d-flex">
                    {% if featursBerroom %}
                        {% for i in featursBerroom %}

                            <div class="col-lg-3 col-6 my-2 shadow overflow-hidden overlyZoom" style="box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.459); ">
                                <div class="imgScal">
                                    <img src="{{i.image.url}}" class="rounded-lg mb-2 zoominn" width="100%"
                                        style="transition: transform 0.5s ease-in-out;" alt="Image not found">
                                </div>
                                <a href="{% url 'Shop_app:single_product' slug=i.slug %}" class="font-weight-bold mt-2"
                                    style="color: #3e3c3c;" onmouseover="this.style.color = '#ffc107'"
                                    onmouseout="this.style.color = '#3e3c3c'">{{i.roduct_title | slice:':30'}}...</a>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a href="{% url 'order_app:add_product_card' slug=i.slug %}" class='text-dark border px-1' style="transition: background-color 0.3s;" onmouseover="this.style.backgroundColor ='#ffce3b'" onmouseout="this.style.backgroundColor ='white';">Add To Card</a>
                                    {% if i.dic_price == 0 %}
                                        <p class="text-dark mt-2">{{i.main_price}}&#2547;</p>
                                    {% else %}
                                        <div class="d-flex justify-content-center mt-2">
                                            <p class="text-dark">{{i.dic_price}}&#2547;</p>
                                            <p class="text-dark" style="margin-left: .5rem;"><del>{{i.main_price}}</del>&#2547;</p>
                                        </div>
                                    {% endif %}
                                    {% if i.is_newarival %}
                                    <p class="newlogo">New</p>
                                    {% endif %}
                                    </div>
                            </div>
                        
                        {% endfor %}
                    {% else %}
                        <div style="margin-left: 2rem;font-size:30px">
                            <p>No Feature Product Available right now</p>
                        </div>
                    {% endif %}
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>

    </div>

</section>

<!-- Best Sell Bedroom set end -->

<!-- BLOG POST -->

<section class="product-area li-laptop-product Special-product pt-60 pb-45">
    <div>
        <div class="container">
            <div class="d-flex px-6 justify-content-between align-items-center"
                style="background-color: #3e3c3c;padding:0 20px;">
                <p class="text-center py-2 h4 mt-2" style="color: #ffc107;">BLOG POSTS</p>
                <a href="#">READ MORE</a>
            </div>
        </div>

        <div class="row mt-4 mx-1">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12 container">
                <div class="row d-flex">
                    <div class="col-3 p-2 rounded ">
                        <img src="https://s1.kaercher-media.comimage/selection/51901/m3/how-to-clean-sofa-stains.webp" class="rounded-lg"
                            width="100%" alt="">
                        <p class="font-weight-bold mt-2 h6" style="color: #3e3c3c;">How to Clean Upholstery in 15 Minutes or Less</p>
                        <p>Step 1: Vacuum Well. ...
                            Step 2: Mix a Stain Remover. ...
                            Step 3: Prepare Rinse. ...
                            Step 4: Treat the Stains. ...
                            Step 5: Mix an Overall Upholstery Cleaner. ...
                            Step 6: Start at the Top. ...
                            Step 7: Rinse the Upholstery. ...
                            Step 8: Air-Dry.</p>
                        <a href="#" class="border p-2"
                            style="background-color: #ffc107;color:white;border-radius:5px">READ MORE</a>
                    </div>
                    <div class="col-3 p-2 rounded">
                        <img src="https://www.teaandforgetmenots.com/wp-content/uploads/2022/02/14-min-1024x840.jpeg" width="100%"
                            alt="">
                        <p class="font-weight-bold mt-2 h6" style="color: #3e3c3c;">How to Properly Clean your MDF Furniture</p>
                        <p>Can you paint MDF Furniture to look good? Yes! But MDF isn’t solid wood. So, you need to know the right products to use to paint it successfully.

                            MDF is a budget-friendly option but not very pretty.
                        .</p>
                        <a href="#" class="border p-2"
                            style="background-color: #ffc107;color:white;border-radius:5px">READ MORE</a>
                    </div>
                    <div class="col-3 p-2 rounded">
                        <img src="https://static.wixstatic.com313638_c2586e9ec1e34119afac433e39f2e916~mv2.jpg/v1/fill/w_640,h_800,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/313638_c2586e9ec1e34119afac433e39f2e916~mv2.jpg" width="100%"
                            alt="">
                        <p class="font-weight-bold mt-2 h6" style="color: #3e3c3c;">What is your first step in buying furniture?</p>
                        <p>When it comes to selling your home, first impressions matter. One effective way to showcase your property's potential is through home staging, specifically focusing on furniture placement. Thoughtful furniture arrangement can transform a space, making it appear more spacious, functional, and appealing to potential buyers. In this blog post,</p>
                        <a href="#" class="border p-2"
                            style="background-color: #ffc107;color:white;border-radius:5px">READ MORE</a>
                    </div>
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>

    </div>

</section>

<!-- END BLOG POST -->

{% endif %}

{% endblock %}