{% extends "admin_app/base.html" %}
{% block title %}
  add-new-product
{% endblock%}

{% block body_block %}

<div class="page-body">

    <!-- New Product Add Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="">
                    <div class="">
                        {% include 'include/message.html' %}
                        <div class="card">
                            <div class="card-body">
                                <div class="card-header-2">
                                    <h5>Category Information</h5>
                                </div>
                                <form class="theme-form theme-form-2 mega-form" method="POST">
                                    {% csrf_token %}
                                    <div class="mb-4">
                                        <label class="form-label-title col-12 mb-0">Category Name</label>
                                        <div class="col-12">
                                            <input class="form-control" required type="text" name="name"
                                                placeholder="Main Category Name">
                                        </div>
                                    </div>
                                    <div class="mb-4 align-items-center">
                                        <label class="col-12 col-form-label form-label-title">Main Category</label>
                                        <div class="col-12">
                                            <select class="js-example-basic-single w-100" name="main_cat_id">
                                                <option selected>--SELECT--</option>
                                                {% for i in Main_cat %}
                                                <option value="{{i.id}}">{{i.main_category_name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="mb-4 align-items-center">
                                        <div class="mb-4">
                                            <label
                                                class="col-12 col-form-label form-label-title">Images</label>
                                            <div class="col-12">
                                                <input class="form-control form-choose" name="category_pic" type="file"
                                                    id="formFile">
                                            </div>
                                        </div>
                                    </div>
                                    <button class="col-12 btn btn-primary ms-auto mt-4">Add Category</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}