{% extends "admin_app/base.html" %}
{% block title %}
  add-new-product
{% endblock%}

{% block body_block %}
  

<div class="page-body" style="background-color: rgb(255, 255, 255);">

                <!-- New Product Add Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 m-auto">
                                    <div class="card">
                                        <div class="card-body" style="background-color: rgb(238, 238, 238);padding:2rem">
                                            <div class="card-header-2">
                                                <h5>Product Information</h5>
                                            </div>

                                            <form class="theme-form theme-form-2 mega-form">
                                                <div class="mb-4 align-items-center">
                                                    <label class="form-label-title mb-0">Product Name</label>
                                                    <div class="col-12">
                                                        <input class="form-control" name="product_name" type="text"
                                                            placeholder="Product Name">
                                                    </div>
                                                </div>

                                                <div class="mb-4 align-items-center">
                                                    <label class="form-label-title mb-0">Product Title</label>
                                                    <div class="col-12">
                                                        <input class="form-control" name="product_title" type="text"
                                                            placeholder="Product Title">
                                                    </div>
                                                </div>

                                                <div class="mb-4">
                                                    <label
                                                        class="col-12 col-form-label form-label-title">Images</label>
                                                    <div class="col-12">
                                                        <input class="form-control form-choose" type="file"
                                                            id="formFile" multiple>
                                                    </div>
                                                </div>

                                                <div class="d-flex row">
                                                    <div class="mb-4 col-lg-6 col-12">
                                                        <label class="form-label-title mb-0">Product Code</label>
                                                        <div class="col-12">
                                                            <input class="form-control" name="product_name" type="text"
                                                                placeholder="Product Name">
                                                        </div>
                                                    </div>
                                                    <div class="mb-4 col-lg-6 col-12">
                                                        <label class="form-label-title col-12 mb-0">Product Quientity</label>
                                                        <div class="col-12">
                                                            <input class="form-control" name="product_name" type="number"
                                                                placeholder="Product Name">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="d-flex row">
                                                    <div class="mb-4 col-lg-6 col-12">
                                                        <label class="form-label-title mb-0">Product Color</label>
                                                        <div class="col-12">
                                                            <input class="form-control" name="product_name" type="text"
                                                                placeholder="Product Name">
                                                        </div>
                                                    </div>
                                                    <div class="mb-4 col-lg-6 col-12">
                                                        <label class="form-label-title col-12 mb-0">Product KeyWord</label>
                                                        <div class="col-12">
                                                            <input class="form-control" name="product_name" type="text"
                                                                placeholder="Product Name">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="d-flex row">
                                                    <div class="mb-4 col-lg-6 col-12">
                                                        <label class="form-label-title mb-0">Product Febrics</label>
                                                        <div class="col-12">
                                                            <input class="form-control" name="product_name" type="text"
                                                                placeholder="Product Name">
                                                        </div>
                                                    </div>
                                                    <div class="mb-4 col-lg-6 col-12">
                                                        <label class="form-label-title col-12 mb-0">Product Meterials</label>
                                                        <div class="col-12">
                                                            <input class="form-control" name="product_name" type="text"
                                                                placeholder="Product Name">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="d-flex row">
                                                    <div class="mb-4 col-lg-4 col-12">
                                                        <label class="form-label-title mb-0">Product Length</label>
                                                        <div class="col-12">
                                                            <input class="form-control" name="product_name" type="text"
                                                                placeholder="Product Name">
                                                        </div>
                                                    </div>
                                                    <div class="mb-4 col-lg-4 col-12">
                                                        <label class="form-label-title col-12 mb-0">Product Deepth</label>
                                                        <div class="col-12">
                                                            <input class="form-control" name="product_name" type="text"
                                                                placeholder="Product Name">
                                                        </div>
                                                    </div>
                                                    <div class="mb-4 col-lg-4 col-12">
                                                        <label class="form-label-title col-12 mb-0">Product Height</label>
                                                        <div class="col-12">
                                                            <input class="form-control" name="product_name" type="text"
                                                                placeholder="Product Name">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="d-flex row">
                                                    <div class="mb-4 col-lg-6 col-12">
                                                        <label class="form-label-title mb-0">Product Regular Price</label>
                                                        <div class="col-12">
                                                            <input class="form-control" name="product_name" type="number"
                                                                placeholder="Product Name">
                                                        </div>
                                                    </div>
                                                    <div class="mb-4 col-lg-6 col-12">
                                                        <label class="form-label-title col-12 mb-0">Product Discount</label>
                                                        <div class="col-12">
                                                            <input class="form-control" name="product_name" type="number"
                                                                placeholder="Product Name">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="d-flex row">
                                                    <div class="mb-4 col-lg-6 col-12">
                                                        <label class="col-form-label form-label-title">Main Category</label>
                                                        <div class="">
                                                            <select class="js-example-basic-single w-100" name="state">
                                                                <option selected>--SELECT--</option>
                                                                {% for i in main_category %}
                                                                <option value="{{i.id}}">{{i.main_category_name}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="mb-4 col-lg-6 col-12">
                                                        <label
                                                            class="col-form-label form-label-title">Category</label>
                                                        <div class="">
                                                            <select class="js-example-basic-single w-100" name="state">
                                                                <option selected>--SELECT--</option>
                                                                {% for i in category %}
                                                                <option value="{{i.id}}">{{i.category_name}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="mb-4 align-items-center">
                                                    <label class="form-label-title mb-0">Product Details</label>
                                                    <div class="col-12">
                                                        <textarea name="product_details" class="form-control" id="" cols="30" rows="10"></textarea>
                                                    </div>
                                                </div>

                                                <div class="d-flex row">
                                                    <div class="col-lg-3 col-12">
                                                        <div class="mb-2">
                                                            <label for="offer_product" class="col-form-label form-label-title">Offer Available</label>
                                                            <input id="offer_product" type="checkbox">
                                                        </div>
                                                    </div>
                                                    <div class=" col-lg-3 col-12">
                                                        <div class="mb-2">
                                                            <label for="featured" class="col-form-label form-label-title">Featured Product</label>
                                                            <input id="featured" type="checkbox">
                                                        </div>
                                                    </div>
                                                    <div class=" col-lg-3 col-12">
                                                        <div class="mb-2">
                                                            <label for="discount" class="col-form-label form-label-title">Discount Available</label>
                                                            <input id="discount" type="checkbox">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-12">
                                                        <div class="mb-2">
                                                            <label for="ready_stock" class="col-form-label form-label-title">Ready Stock Product</label>
                                                            <input id="ready_stock" type="checkbox">
                                                        </div>
                                                    </div>
                                                </div>

                                                <button class="w-100 p-2 btn btn-primary">Add Product</button>
                                            </form>
                                        </div>
                                    </div>
                                    
            </div>


{% endblock%}