{% extends "admin_app/base.html" %}
{% load static %}
{% block title %}
Product-List
{% endblock%}

{% block body_block %}

<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        {% include 'include/message.html' %}
                        <div class="title-header option-title">
                            <h5>Client List</h5>
                        </div>
                        <div style="overflow-x: auto;">
                            
                                <table class="table table-bordered" id="table_id">
                                    <thead>
                                        <tr>
                                            <th>Profile Pic</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Join Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                            
                                    <tbody>
                                        {% for i in Customar %}
                                        <tr>
                                            <td>
                                                <div class="table-image">
                                                    {% if i.profile.profile_pic.url != '' %}
                                                    <img src="{{i.profile.profile_pic.url}}" width="50px" class="img-fluid" alt="pic not found">
                                                    {% else %}
                                                    <img src="{% static 'images/demo.png' %}" width="50px" class="img-fluid" alt="pic not found">
                                                    {% endif %}
                                                </div>
                                            </td>
                            
                                            <td class="">
                                                <a href="{% url 'Admin_app:user_details' id=i.id %}">
                                                    <span>{{i.profile.full_name}}</span>
                                                </a>
                                            </td>
                            
                                            <td>
                                                {{i.email}}
                                            </td>
                            
                                            <td>{{i.profile.phone}}</td>
                            
                                            <td>{{i.profile.create_at | date:'d M y'}}</td>
                                            <td class="d-flex justify-content-center">
                                                <a href="{% url 'Admin_app:user_details' id=i.id %}">
                                                    <i class="ri-eye-line"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}