{% extends "admin_app/base.html" %}
{% block title %}
  Order Details
{% endblock%}

{% block body_block %}


<div class="page-body">
    <!-- tracking table start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="title-header title-header-block package-card">
                            <div>
                                <h5>Order Number: {{order_ditails.order_num}}</h5>
                            </div>
                            <hr>
                        </div>
                        <div class="bg-inner cart-section order-details-table">
                            <div class="row g-4">
                                <div class="col-xl-8">
                                    <div class="table-responsive table-details">
                                        <table class="table cart-table table-borderless">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">Items</th>
                                                    <th class="text-end" colspan="2">
                                                       
                                                    </th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% for i in order_ditails.order_item.all %}
                                                <tr class="table-order">
                                                    <td>
                                                        <a href="javascript:void(0)">
                                                            <img src="{{i.product.image.url}}"
                                                                class="img-fluid blur-up lazyload" alt="">
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <p>Product Name</p>
                                                        <h5>{{i}}</h5>
                                                    </td>
                                                    <td>
                                                        <p>Quantity</p>
                                                        <h5>{{i.quantity}}</h5>
                                                    </td>
                                                    <td>
                                                        <p>Price</p>
                                                        <h5>{{i.get_total}}&#2547</h5>
                                                    </td>
                                                </tr>
                                                {% endfor %}                                              
                                            </tbody>

                                            <tfoot>
                                                
                                                <tr class="table-order">
                                                    <td colspan="3">
                                                        <h5>Shipping :</h5>
                                                    </td>
                                                    <td>
                                                        <h4>0</h4>
                                                    </td>
                                                </tr>
                                                <tr class="table-order">
                                                    <td colspan="3">
                                                        <h4 class="theme-color fw-bold">Total Price :</h4>
                                                    </td>
                                                    <td>
                                                        <h4 class="theme-color fw-bold">{{order_ditails.get_totals}}&#2547</h4>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        <div class="container mt-5">
                                            <h5>User Information</h5>
                                            <table class="table table-bordered mt-2">
                                                <thead>
                                                <tr>
                                                    <th scope="col">Full Name</th>
                                                    <th scope="col">{{order_ditails.user.profile.full_name}}</th>
                                                </tr>
                                                <tr>
                                                    <th scope="col">username</th>
                                                    <th scope="col">{{order_ditails.user.profile.username}}</th>
                                                </tr>
                                                <tr>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">{{order_ditails.user.email}}</th>
                                                </tr>
                                                    <th scope="col">Phone</th>
                                                    <th scope="col">{{order_ditails.user.profile.phone}}</th>
                                                <tr>
                                                    <th scope="col">Address</th>
                                                    <th scope="col">{{order_ditails.user.profile.address_1}}, {{order_ditails.user.profile.city}}, {{order_ditails.user.profile.zipcode}}, {{order_ditails.user.profile.country}},</th>
                                                  </tr>
                                                </thead>
                                              </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-4">
                                    <div class="order-success">
                                        <div class="row g-4">
                                            <h4>summery</h4>
                                            <ul class="order-details">
                                                <li>Order Number: {{order_ditails.order_num}}</li>
                                                <li>Order Date: {{order_ditails.create_at}}</li>
                                                <li>Payment ID: {{order_ditails.pymentID}}</li>
                                                
                                                <li>Order Total: {{order_ditails.get_totals}}&#2547</li>
                                            </ul>

                                            <h4>shipping address</h4>
                                            <ul class="order-details">
                                                <li>{{order_shiping_address.city}}</li>
                                                <li>{{order_shiping_address.zipcode}}</li>
                                                <li>{{order_shiping_address.address_1}}</li>
                                                <li>{{order_shiping_address.address_2}}</li>
                                                <li>Bangladesh</li>
                                            </ul>
                                            {% if order_ditails.cancel == True %}
                                            <div class="delivery-sec">
                                                <button href="" disabled class="btn btn-danger">Canceled</button>
                                            </div>
                                            {% else %}
                                            {% if order_ditails.delivered %}
                                            <div class="delivery-sec">
                                                <button disabled class="btn btn-primary">Delivered</button>
                                            </div>
                                            {% else %}
                                            <div class="delivery-sec">
                                                <a href="{% url 'Admin_app:order_delivery' id=order_ditails.id %}" class="btn btn-primary">Delivery</a>
                                            </div>
                                            {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- section end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- tracking table end -->

    <div class="container-fluid">
        <!-- footer start-->
        <footer class="footer">
            <div class="row">
                <div class="col-md-12 footer-copyright text-center">
                    <p class="mb-0">Copyright 2022 © Fastkart theme by pixelstrap</p>
                </div>
            </div>
        </footer>
    </div>
</div>


{% endblock %}