{% extends "admin_app/base.html" %}
{% block title %}
  Pending Order List
{% endblock%}

{% block body_block %}

<div class="page-body">
  <!-- Table Start -->
  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-12">
              <div class="card">
                  <div class="card-body">
                      <div class="title-header option-title">
                        {% include 'include/message.html'%}
                          <h5>Pending Order List</h5>
                          <a href="#" class="btn btn-solid">Download all orders</a>
                      </div>
                      <div style="overflow-x: auto;">
                              <table class="table table-bordered" id="table_id">
                                  <thead>
                                      <tr>
                                          <th>#</th>
                                          <th>Cus Name</th>
                                          <th>Cus Email</th>
                                          <th>Date</th>
                                          <th>Order Number</th>
                                          <th>Delivery Status</th>
                                          <th>Amount</th>
                                          <th>Option</th>
                                      </tr>
                                  </thead>

                                  <tbody>
                                    {% for i in pending_order_list %}
                                    
                                      <tr data-bs-toggle="offcanvas" href="#order-details">
                                          <td>{{forloop.counter}}</td>
                                          <td>{{i.user.profile.full_name}}</td>
                                          <td>{{i.user.email}}</td>

                                          <td>{{i.create_at|date:"M d, Y"}}</td>

                                          <td>{{i.order_num}}</td>
                                        
                                          <td class="order-success">
                                            {% if i.cancel == True %}
                                                <span class="badge badge-danger text-danger">Canceled</span>
                                            {% else %}
                                                <span class="badge badge-success">Prossesing</span>
                                            {% endif %}
                                          </td>

                                          <td>{{i.get_totals}}&#2547</td>

                                          <td class="d-flex justify-content-center" style="gap:1rem;">
                                            <div>
                                                <a href="{% url 'Admin_app:order_details' id=i.id%}">
                                                    <i class="ri-eye-line"></i>
                                                </a>
                                            </div>
                                        </td>
                                      </tr>
                                      {% endfor %}
                                  </tbody>
                              </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Table End -->

  <!-- footer start-->
  <div class="container-fluid">
      <footer class="footer">
          <div class="row">
              <div class="col-md-12 footer-copyright text-center">
                  <p class="mb-0">Copyright 2022 © Fastkart theme by pixelstrap</p>
              </div>
          </div>
      </footer>
  </div>
</div>

{% endblock %}