{% extends "admin_app/base.html" %}
{% block title %}
product-review-List
{% endblock%}

{% block body_block %}

<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        {% include 'include/message.html' %}
                        <div class="title-header option-title">
                            <h5>Products List</h5>
                            <div class="right-options">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)">import</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Export</a>
                                    </li>
                                    <li>
                                        <a class="btn btn-solid" href="add-new-product.html">Add Product</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div style="overflow-x: auto;">
                            
                                <table class="table table-bordered" id="table_id">
                                    <thead>
                                        <tr>
                                            <th>Product Name</th>
                                            <th>User</th>
                                            <th>Disply Name</th>
                                            <th>Review Message</th>
                                            <th>Rating</th>
                                            <th>Approve Status</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                            
                                    <tbody>
                                        {% for i in product_review %}
                                        <tr>                            
                                            <td class="">
                                                <a target="_blank" href="{% url 'Shop_app:single_product' slug=i.productId.slug %}">
                                                    {{i.productId.product_code}}
                                                </a>
                                            </td>
                            
                                            <td>
                                                <a target="_blank" href="{% url 'Admin_app:user_details' id=i.id %}">
                                                    {{i.userId.email}}
                                                </a>
                                            </td>
                            
                                            <td>{{i.ClientName}}</td>
                            
                                            <td>{{i.reviewMsg}}</td>
                            
                                            <td class="td-price">{{i.rating}}</td>
                                            {% if i.reviewStatus %}
                                                <td class="td-price"><span class="bg-primary p-1" style="border-radius: 6px;">Success</span></td>
                                            {% else %}
                                                <td class="td-price"><a href="{% url 'Admin_app:review_approve' id=i.id %}" class="bg-warning p-1" style="border-radius: 6px;">Pending</a></td>
                                            {% endif %}
                            
                                            <td class="d-flex justify-content-center" style="gap:1rem;">
                                                <div>
                                                    <a href="{% url 'Admin_app:delete_review' id=i.id %}">
                                                        <i class="ri-delete-bin-line"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}