{% extends "admin_app/base.html" %}
{% block title %}
product-review-List
{% endblock%}

{% block body_block %}

<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        {% include 'include/message.html' %}
                        <div class="title-header option-title">
                            <h5>Products List</h5>
                            <div class="right-options">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)">import</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Export</a>
                                    </li>
                                    <li>
                                        <a class="btn btn-solid" href="add-new-product.html">Add Product</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div style="overflow-x: auto;">
                            
                                <table class="table table-bordered" id="table_id">
                                    <thead>
                                        <tr>
                                            <th>Product Name</th>
                                            <th>User</th>
                                            <th>Disply Name</th>
                                            <th>Review Message</th>
                                            <th>Rating</th>
                                            <th>Approve Status</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                            
                                    <tbody>
                                        {% for i in products %}
                                        <tr>
                                            <td>
                                                <div class="table-image">
                                                    <img src="{{i.image.url}}" width="50px" class="img-fluid" alt="">
                                                </div>
                                            </td>
                            
                                            <td class="">
                                                <a href="{% url 'Admin_app:update_product' slug=i.slug %}">
                                                    <span>{{i.product_code}}</span>
                                                </a>
                                            </td>
                            
                                            <td>
                                                <a href="{% url 'Admin_app:update_product' slug=i.slug %}">
                                                    {{i.roduct_title | slice:":10"}}...
                                                </a>
                                            </td>
                            
                                            <td>{{i.product_category.category_name}}</td>
                            
                                            <td>{{i.product_quintity}}</td>
                            
                                            <td class="td-price">{{i.main_price}}&#2547;</td>
                                            <td class="td-price">{{i.dic_price}}&#2547;</td>
                            
                                            <td class="d-flex justify-content-center" style="gap:1rem;">
                                                <div>
                                                    <a href="{% url 'Admin_app:update_product' slug=i.slug %}">
                                                        <i class="ri-pencil-line"></i>
                                                    </a>
                                                </div>
                                                <div>
                                                    <a href="{% url 'Admin_app:product_delete' slug=i.slug %}">
                                                        <i class="ri-delete-bin-line"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>

                                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                  ...
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                  <button type="button" class="btn btn-primary">Save changes</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                        {% endfor %}
                                    </tbody>
                                </table>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}