{% extends "admin_app/base.html" %}
{% block title %}
Product-List
{% endblock%}

{% block body_block %}

<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="title-header option-title">
                            <h5>Products List</h5>
                            <div class="right-options">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)">import</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Export</a>
                                    </li>
                                    <li>
                                        <a class="btn btn-solid" href="add-new-product.html">Add Product</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div style="overflow-x: auto;">
                            
                                <table class="table table-bordered" id="table_id">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Code</th>
                                            <th>Name</th>
                                            <th>Category</th>
                                            <th>Qty</th>
                                            <th>Price</th>
                                            <th>offer P</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                            
                                    <tbody>
                                        {% for i in products %}
                                        <tr>
                                            <td>
                                                <div class="table-image">
                                                    <img src="{{i.image.url}}" width="50px" class="img-fluid" alt="">
                                                </div>
                                            </td>
                            
                                            <td class="">
                                                <a href="{% url 'Admin_app:update_product' slug=i.slug %}">
                                                    <span>{{i.product_code}}</span>
                                                </a>
                                            </td>
                            
                                            <td>
                                                <a href="{% url 'Admin_app:update_product' slug=i.slug %}">
                                                    {{i.roduct_title | slice:":10"}}...
                                                </a>
                                            </td>
                            
                                            <td>{{i.product_category.category_name}}</td>
                            
                                            <td>{{i.product_quintity}}</td>
                            
                                            <td class="td-price">{{i.main_price}}&#2547;</td>
                                            <td class="td-price">{{i.dic_price}}&#2547;</td>
                            
                                            <td class="d-flex justify-content-center" style="gap:1rem;">
                                                <div>
                                                    <a href="{% url 'Admin_app:update_product' slug=i.slug %}">
                                                        <i class="ri-pencil-line"></i>
                                                    </a>
                                                </div>
                                                <div>
                                                    <a href="#" data-bs-toggle="modal"
                                                            data-bs-target="#exampleModalToggle">
                                                            <i class="ri-delete-bin-line"></i>
                                                        </a>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}