{% extends "admin_app/base.html" %}
{% load static %}
{% block title %}
    Salse Report
{% endblock%}

{% block body_block %}

<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        {% include 'include/message.html' %}
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="title-header option-title">
                                <h5>Sales Report</h5>
                            </div>
                            <form action="" method="GET">
                                {% csrf_token %}
                                <div class="product-select-box">
                                    <div class="product-short">
                                        <span>Sort By:</span>
                                        <select class="nice-select p-1" name="sort-value">
                                            <option hidden selected value="all">All</option>
                                            <option value="last-week-report">Last Week</option>
                                            <option value="last-mont-report">Last Month</option>
                                            <option value="last-6mont-report">Last 6 Month</option>
                                            <option value="last-year-report">Last year</option>
                                        </select>
                                        <button class="Product-Sort-btn" style="background-color: transparent;Border: 1px solid #0da487;padding:2.6px">Sort data</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div style="overflow-x: auto;">
                            
                                <table class="table table-bordered" id="table_id">
                                    <thead>
                                        <tr>
                                            <th>Order No</th>
                                            <th>Client Email</th>
                                            <th>Delivery Status</th>
                                            <th>Order Date</th>
                                            <th>Totall Amount</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                            
                                    <tbody>
                                        {% for i in orderObj %}
                                        <tr>
                                            <td>
                                                {{i.order_num}}
                                            </td>
                            
                                            <td class="">
                                                <span>{{i.user.email}}</span>
                                            </td>
                                            
                                            {% if i.delivered %}
                                                <td>
                                                    <span style="color: rgb(3, 146, 3);">Delivered</span>
                                                </td>
                                            {% else %}
                                                <td>
                                                    <span style="color: rgb(14, 235, 224);">In Prosses</span>  
                                                </td>
                                            {% endif %}
                                            
                            
                                            <td>{{i.create_at | date:'d M Y'}}</td>                            
                                            <td>{{i.get_totals}}</td>                            
                                            <td class="d-flex justify-content-center">
                                                <a href="{% url 'Admin_app:order_details' id=i.id%}">
                                                    <i class="ri-eye-line"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}