{% extends "admin_app/base.html" %}
{% block title %}
  add-new-product
{% endblock%}

{% block body_block %}

<div class="page-body">
    <!-- All User Table Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        {% include 'include/message.html' %}
                        <div class="title-header option-title">
                            <h5>All Category</h5>
                            <form class="d-inline-flex">
                                <a href="{% url 'Admin_app:add_category' %}" class="align-items-center btn btn-theme">
                                    <i data-feather="plus-square"></i>Add New
                                </a>
                            </form>
                        </div>

                        <div style="overflow-x: auto;">
                            
                            <table class="table table-bordered" id="table_id">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Category Name</th>
                                        <th>Main Category</th>
                                        <th>Option</th>
                                    </tr>
                                </thead>
                        
                                <tbody>
                                    {% for i in cat_list %}
                                    <tr>
                                        <td>
                                            <div class="table-image">
                                                <img src="{{i.category_image.url}}" width="50px" class="img-fluid" alt="">
                                            </div>
                                        </td>
                        
                                        <td class="">
                                            
                                            <span>{{i.category_name}}</span>
                                            
                                        </td>
                        
                                        <td>
                                            
                                            {{i.main_category.main_category_name}}
                                            
                                        </td>                        
                                        <td class="d-flex justify-content-center" style="gap:1rem;">
                                            <div>
                                                <a href="{% url 'Admin_app:update_cat' slug=i.slug %}">
                                                    <i class="ri-pencil-line"></i>
                                                </a>
                                            </div>
                                            <div>
                                                <a href="{% url 'Admin_app:del_cat' slug=i.slug %}">
                                                    <i class="ri-delete-bin-line"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- All User Table Ends-->

    <div class="container-fluid">
        <!-- footer start-->
        <footer class="footer">
            <div class="row">
                <div class="col-md-12 footer-copyright text-center">
                    <p class="mb-0">Copyright 2022 © Fastkart theme by pixelstrap</p>
                </div>
            </div>
        </footer>
        <!-- footer end-->
    </div>
</div>

{%endblock%}