{% extends "admin_app/base.html" %}
{% block title %}
  add-new-product
{% endblock%}

{% block body_block %}

<div class="page-body">
    <!-- All User Table Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        {% include 'include/message.html' %}
                        <div class="title-header option-title">
                            <h5>All Main Category</h5>
                            <form class="d-inline-flex">
                                <a href="{% url 'Admin_app:add_main_category' %}" class="align-items-center btn btn-theme">
                                    <i data-feather="plus-square"></i>Add New
                                </a>
                            </form>
                        </div>

                        <div style="overflow-x: auto;">
                            <table class="table table-bordered" id="table_id">
                                <thead>
                                    <tr>
                                        <th>Category Name</th>
                                        <th>Date</th>
                                        <th>Option</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for i in main_cat %}
                                    <tr>
                                        <td>{{i.main_category_name}}</td>

                                        <td>{{i.created_at}}</td>

                                        <td class="d-flex justify-content-center" style="gap:1rem;">
                                            <a href="{% url 'Admin_app:update_main_cat' slug=i.slug %}">
                                                        <i class="ri-pencil-line"></i>
                                            </a>
                                                
                                            <a href="{% url 'Admin_app:delete_main_cat' slug=i.slug %}">
                                                        <i class="ri-delete-bin-line"></i>
                                            </a>                                             
                                            
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- All User Table Ends-->

    <div class="container-fluid">
        <!-- footer start-->
        <footer class="footer">
            <div class="row">
                <div class="col-md-12 footer-copyright text-center">
                    <p class="mb-0">Copyright 2022 © Fastkart theme by pixelstrap</p>
                </div>
            </div>
        </footer>
        <!-- footer end-->
    </div>
</div>

{%endblock%}