{% load static %}
<div class="sidebar-wrapper">
    <div>
        <div class="logo-wrapper logo-wrapper-center">
            <h4 class="text-white h3">Furni<span style="color: #ffa53b;">touch</span></h4>
            <!-- {% if user.user_type == 'Admin' %}
            <p class="text-white my-2">Admin Dashbord</p>
            {% elif user.user_type == 'Staff'%}
            <p>Staff Dashbord</p>
            {%endif%} -->
            <div class="back-btn">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="toggle-sidebar">
                <i class="ri-apps-line status_toggle middle sidebar-toggle"></i>
            </div>
        </div>
        <div class="logo-icon-wrapper">
            <a href="index.html">
                <img class="img-fluid main-logo main-white" src="{% static 'admin_filse/assets/images/logo/logo.png' %}"
                    alt="logo">
                <img class="img-fluid main-logo main-dark"
                    src="{% static 'admin_filse/assets/images/logo/logo-white.png' %}" alt="logo">
            </a>
        </div>
        {% if user.user_type == 'Admin' %}
        <nav class="sidebar-main">
            <div class="left-arrow" id="left-arrow">
                <i data-feather="arrow-left"></i>
            </div>
            <div id="sidebar-menu">
                <ul class="sidebar-links" id="simple-bar">
                    <li class="back-btn"></li>

                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="{% url 'Admin_app:dashbord' %}">
                            <i class="ri-home-line"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-store-3-line"></i>
                            <span>Product</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="{% url 'Admin_app:product_list' %}">Prodcts</a>
                            </li>

                            <li>
                                <a href="{% url 'Admin_app:add_product' %}">Add New Products</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-list-check-2"></i>
                            <span>Category</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="{% url 'Admin_app:view_main_cat' %}">Main Category List</a>
                            </li>

                            <li>
                                <a href="{% url 'Admin_app:add_main_category' %}">Add Main Category</a>
                            </li>
                            <li>
                                <a href="{% url 'Admin_app:view_category' %}">Category List</a>
                            </li>

                            <li>
                                <a href="{% url 'Admin_app:add_category' %}">Add Category</a>
                            </li>
                        </ul>
                    </li>

                    <!-- <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-list-settings-line"></i>
                            <span>Attributes</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="attributes.html">Attributes</a>
                            </li>

                            <li>
                                <a href="add-new-attributes.html">Add Attributes</a>
                            </li>
                        </ul>
                    </li> -->

                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-user-3-line"></i>
                            <span>Staffs</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="{% url 'Admin_app:staff_list' %}">All Staff List</a>
                            </li>
                            <li>
                                <a href="{% url 'Admin_app:add_staff' %}">Add new Staff</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="{% url 'Admin_app:customar_list' %}">
                            <i class="ri-group-line"></i>
                            <span>Clients Data</span>
                        </a>
                    </li>

                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-shopping-cart-line"></i>
                            <span> Online Orders</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="{% url 'Admin_app:pending_order_list' %}">Pending Order List</a>
                            </li>
                            <li>
                                <a href="{% url 'Admin_app:delivered_order_list' %}">Delivered Order List</a>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-store-2-line"></i>
                            <span>Cusmize Order</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="#">Take Order</a>
                            </li>
                            <li>
                                <a href="#">Custom Order List</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="{% url 'Admin_app:sale_report' %}">
                            <i class="ri-file-chart-line"></i>
                            <span>Salse Repost</span>
                        </a>
                    </li>

                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-archive-drawer-fill"></i>
                            <span>Expenses</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="#">Today Expens</a>
                            </li>
                            <li>
                                <a href="#">Staff Salery</a>
                            </li>
                            <li>
                                <a href="#">Expens Report</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-image-add-line"></i>
                            <span>Banner</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="{% url 'Admin_app:home_page_banner' %}">Home Page Banner</a>
                            </li>

                            <li>
                                <a href="{% url 'Admin_app:banner_list' %}">Banner List</a>
                            </li>

                            <li>
                                <a href="{% url 'Admin_app:product_page_banner' %}">Product Page Banner</a>
                            </li>
                        </ul>
                    </li>

                    <!-- <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-price-tag-3-line"></i>
                            <span>Coupons</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="coupon-list.html">Coupon List</a>
                            </li>

                            <li>
                                <a href="create-coupon.html">Create Coupon</a>
                            </li>
                        </ul>
                    </li> -->                    

                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="product-review.html">
                            <i class="ri-star-line"></i>
                            <span>Product Review</span>
                        </a>
                    </li>
                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-settings-line"></i>
                            <span>Settings</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="{% url 'accounts:profile' %}">Profile Setting</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="right-arrow" id="right-arrow">
                <i data-feather="arrow-right"></i>
            </div>
        </nav>
        {% else %}
        <nav class="sidebar-main">
            <div class="left-arrow" id="left-arrow">
                <i data-feather="arrow-left"></i>
            </div>
            <div id="sidebar-menu">
                <ul class="sidebar-links" id="simple-bar">
                    <li class="back-btn"></li>

                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="{% url 'Admin_app:dashbord' %}">
                            <i class="ri-home-line"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-store-3-line"></i>
                            <span>Product</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="products.html">Prodcts</a>
                            </li>

                            <li>
                                <a href="{% url 'Admin_app:add_product' %}">Add New Products</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-list-check-2"></i>
                            <span>Category</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="{% url 'Admin_app:view_main_cat' %}">Main Category List</a>
                            </li>

                            <li>
                                <a href="{% url 'Admin_app:add_main_category' %}">Add Main Category</a>
                            </li>
                            <li>
                                <a href="{% url 'Admin_app:view_category' %}">Category List</a>
                            </li>

                            <li>
                                <a href="{% url 'Admin_app:add_category' %}">Add Category</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-archive-line"></i>
                            <span>Online Orders</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="{% url 'Admin_app:pending_order_list' %}">Pending Order List</a>
                            </li>
                            <li>
                                <a href="{% url 'Admin_app:delivered_order_list' %}">Delivered Order List</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-archive-line"></i>
                            <span>Cusmize Order</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="#">Take Order</a>
                            </li>
                            <li>
                                <a href="#">Custom Order List</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-archive-line"></i>
                            <span>Expenses</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="#">Today Expens</a>
                            </li>
                            <li>
                                <a href="#">Staff Salery</a>
                            </li>
                            <li>
                                <a href="#">Expens Report</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-settings-line"></i>
                            <span>Settings</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="{% url 'accounts:profile' %}">Profile Setting</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="right-arrow" id="right-arrow">
                <i data-feather="arrow-right"></i>
            </div>
        </nav>
        {% endif %}
    </div>
</div>