{% extends "base.html" %}
{% load static %}
{% block title %}
User | Profile
{% endblock%}

{% block body %}
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            {% include "include/message.html" %}
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">My Orders</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- Begin Login Content Area -->

<div class="container" style="margin-bottom: 4rem;">
    <div class="row userProfile">
        <div class="col-md-3">
            {% if profile.profile_pic %}
            <div class="bg-info profile-pic">
              <img src="{{profile.profile_pic.url}}"
                  width="100%" alt="profile pic not found">
            </div>            
            {% else %}
            <h1>Test2</h1>
            <div class="bg-info profile-pic">
              <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                  width="100%" alt="profile pic not found">
            </div>
            {% endif %}
            <div class="profile-head">
                <h6 id="userProfileHide" style="color: #F39C11;">Profile</h6>
                <h6 id="myOrderHidden">My Orders</h6>
                <h6 id="myDeliveredOrderHidden">My Delivered Orders</h6>
                <h6 id="pendingOrderHidden">Pending Orders</p>
                <a href="#">Logout</a>
            </div>
        </div>
        <div class="col profile-body">
            <div id="profileHidden" class="pt-2">
                <p class="h6" style="margin-top: 10px;color:black">Profile Information</p>
                <a href="{% url 'accounts:profile' %}" class="update-profile-button">Update Profile</a>
                
                <div class="d-flex flex-column mt-4">
                    <span class="mb-1">Full Name : {{profile.full_name}}</span>
                    <span class="mb-1">User Name : {{profile.username}}</span>
                    <span class="mb-1">Email : {{user.email}}</span>
                    <span class="mb-1">Mobile Number : {{profile.phone}}</span>
                    <span class="mb-1">Full Address : {{profile.address_1}}, {{profile.city}}, {{profile.zipcode}}</span>
                    <span class="mb-1">Country : {{profile.country}}</span>
                    <span class="mb-1">Stay With Us From: {{profile.create_at |date:"d M Y"}}</span>
                </div>

            </div>

            <div id="OrderHidden" class="pt-2 d-none">
                <p class="h6" style="margin-top: 10px;color:black">My Orders Status</p>
                
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Order Number</th>
                        <th scope="col">Order ID</th>
                        <th scope="col">Order Items</th>
                        <th scope="col">Order Date</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                     {% for i in confirmedOrder %}
                        <tr>
                          <th scope="row">{{i.order_num}}</th>
                          <td>{{i.order_num}}</td>
                          <td>
                            {% for items in i.order_item.all %}
                              <div class="d-flex">
                                <span>{{items.product.roduct_title}} X {{items.quantity}}</span>
                              </div>   
                            {% endfor %}
                          </td>
                          <td>{{i.create_at| date:"d M Y"}}</td>
                          {% if i.delivered %}
                            <td><span class="badge badge-success">Delivered</span></td>
                          {% else %}
                          <td><span class="badge badge-primary">Order In Processing</span></td>
                          {% endif %}
                        </tr>
                     {% endfor %}
                    </tbody>
                </table>

                <table class="table table-bordered">
                  <h6>Traking Orders</h6>
                  <thead>
                    <tr>
                      <th scope="col">Order Number</th>
                      <th scope="col">Traking Status</th>
                    </tr>
                  </thead>
                  <tbody>
                   {% for i in traking_order %}
                      <tr>
                        <th scope="row">{{i.orderId.order_num}}</th>
                        <td>{{i.OrderTrack}}</td>
                      </tr>
                   {% endfor %}
                  </tbody>
              </table>

            </div>

            <div id="DeliveredOrderHidden" class="pt-2 d-none">
                <p class="h6" style="margin-top: 10px;color:black">My Delivered Order Status</p>
                
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Order Number</th>
                        <th scope="col">Order ID</th>
                        <th scope="col">Order Items</th>
                        <th scope="col">Order Date</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                     {% for i in deliveredOrder %}
                        <tr>
                          <th scope="row">{{i.order_num}}</th>
                          <td>Not Set</td>
                          <td>
                            {% for items in i.order_item.all %}
                              <div class="d-flex">
                                <span>{{items.product.roduct_title}} X {{items.quantity}}</span>
                              </div>   
                            {% endfor %}
                          </td>
                          <td>{{i.create_at| date:"d M Y"}}</td>
                          {% if i.delivered %}
                            <td><span class="badge badge-success">Delivered</span></td>
                          {% else %}
                          <td><span class="badge badge-primary">Pending Delivery</span></td>
                          {% endif %}
                        </tr>
                     {% endfor %}
                    </tbody>
                  </table>

            </div>

            <div id="PendingOrderHiden" class="pt-2 d-none">
                <p class="h6" style="margin-top: 10px;color:black">My Pending Order Status</p>
                
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Order Number</th>
                      <th scope="col">Order ID</th>
                      <th scope="col">Order Items</th>
                      <th scope="col">Order Date</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                   {% for i in pendingOrder %}
                      <tr>
                        <th scope="row">{{i.order_num}}</th>
                        <td>Not Set</td>
                        <td>
                          {% for items in i.order_item.all %}
                            <div class="d-flex">
                              <span>{{items.product.roduct_title}} X {{items.quantity}}</span>
                            </div>   
                          {% endfor %}
                        </td>
                        <td>{{i.create_at| date:"d M Y"}}</td>
                        {% if i.delivered %}
                          <td><span class="badge badge-success">Delivered</span></td>
                        {% else %}
                        <td><span class="badge badge-danger">Pending</span></td>
                        {% endif %}
                      </tr>
                   {% endfor %}
                  </tbody>
                </table>

            </div>
          </div>
        </div>
</div>


{% endblock%}